body{
    background-color: aqua;
    color: brown;

}
.main{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 90px;
}